<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>Spielstart</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

  <div>
    <h2>Willkommen!</h2>
    <form action="{{ url_for('start') }}" method="post">
      <div>
        <label for="username">Benutzername</label>
        <input type="text" id="username" name="username" placeholder="Dein Name" required>
      </div>
      <div>
        <label for="password">Passwort</label>
        <input type="password" id="password" name="password" placeholder="Passwort" required>
      </div>
      <a href="{{ url_for('register') }}">
        <button type="button">Registrieren</button>
      </a>
      <div>
        <button type="submit">Zum Spiel 🎮</button>
      </div>
    </form>
  </div>

</body>
</html>
